#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.box {
  border-style: solid;
}

button {
  height: 60px;
  width: 80px;
  margin: 10px;
}
