#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.boxes {
  width: 100px;

  border-style: solid;
}
